<!doctype html>
<html lang="en" xmlns=:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>User Profile</title>
</head>

<body>
	<section>
		<div class="card p-4">
			<div class="container">

				<div class="table table-hover">
					<div class="card">
						<div class="card-body">

							<div class="container-pic">

								<!-- Display Profile picture -->
								<img src="" style="height: 175px; width: 175px;margin-left: 42%; border-radius: 50%;"
									class="my-profile-picture text-center" th:src="@{'/img/'+${user.imageUrl}}"
									alt="my profile picture" />

							</div>

							<h2 class="text-center mt-3 mb-3" th:text="${user.name}"></h2>

							<div class="row">
								<div class="col-sm-3" style="display:inline-block">
									<p class="mb-0">User ID:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="'#SCM User-'+${user.id}">NA
									</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Role:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="${user.role}">NA</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Account Enabled:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="${user.enabled}">NA</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">About User:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:text="${user.email}">NA</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">User Details:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0" th:utext="${user.about}">NA</p>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>

	</section>
</body>

</html>