<!doctype html>
<html lang="en" xmlns=:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Case Manager</h1>
			<p>
				Keep upholding justice for those who were denied!
				We will help you manage your legal cases effeciently.
			</p>
			<button class="btn bg-primary btn-lg text-white">Get Started</button>
		</div>
	</section>
</body>
</html>